@using WebMvcPrimoTentativo.Models
@model List<Teacher>


<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <script source="~/lib/jquery/dist/jquery.min.js" ></script>
    <script source="~/lib/bootstrap/dist/js/bootstrap.min.js" ></script>
</head>
<body>

    <h1> Rating views: valutazione insegnanti </h1>
    <table class="table">
        <thead><tr><td>Nome</td>
            <td>Valutazione</td>
            <td colspan="2"></td></tr> </thead>
        <tbody>
            @foreach (var teacher in Model)
            {
                <tr>
            <td>@teacher.Name</td>
                    <td>@teacher.Rating stelle</td>
                    <td><a href="/valutazioni/dettagli/@teacher.Id">Dettagli</a></td>
                    <td><a href="/valutazioni/elimina/@teacher.Id">Elimina</a></td>
                </tr>

            }
        </tbody>
    </table>
</body>
</html>
