@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using WebMvcPrimoTentativo.Models
@model Teacher

@{ 
    var title = Model.Id == 0
        ? "Aggiungi valutazione"
        : "Modifica valutazione";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body style="width: 500px; margin: 0 auto;">
    <h1>@title</h1>
    <h1>@(Model.Id == 0 ? "Aggiungi valutazione" : "Modifica valutazione")</h1>
    <form method="post"
          asp-controller="Ratings"
          asp-action="Details"
          class="form-group">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Rating" class="control-label"></label>
            <input type="number" asp-for="Rating" class="form-control" />
            <span asp-validation-for="Rating"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Salva" />
        </div>
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>