@{
    ViewData["Title"] = "Home Page";
}

<h1>SuperHeroes Management!</h1>

<ul>
    <li>
        <a asp-controller="SuperHero" asp-action="Index">SuperHeroes</a>
    </li>
    <li>
        <a asp-controller="Villain" asp-action="Index">Villains</a>
    </li>
</ul>